.barraNavegacion{
    padding: 2px;
    list-style: none;
    display: flex;

}

.navLink{
    text-decoration: none;
    padding: 5px 15px;
    margin: 10px;
    color: #007a89;
    
    
}

/* Seccion Principal */
#seccionPrincipal{
    background-color: #007a89;
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    
    
   
}

#seccionHero{
    background-color: #007a89;
    height: 700px;

}


#columna1{
    margin-left: 100px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#titulo{
    font-size: 100px;
}

#titulo2{
    font-size: 60px;
}

#parrafoInicio{
    font-size: 20px;
}

/* Nosotros */


#nosotros{
    background-color: white;
    margin-top: 100px;
    flex-wrap: wrap;
}

#contenedorNosotros{
    background-color: white;
    width: 100%;
    height: 600px;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

#publicidad{
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

#tituloDos{
    color: blue;
}

#parrafoNosotros{
    color: dimgrey;
}

.bi{
    font-size: 20px;
}



#botonPresupuesto{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #007a89;
    transition: all 400ms ease;
}

#botonPresupuesto:hover{
    color: white;
    background-color: #007a89;
}








/* servicios */

#servicios{
    width: 100%;
    height: 1000px;
    background-color: #007a89

}

.serviciosTitulo{
    text-align: center;
    
}


.contenedor{
    width: 100%;
    display: flex;
    background-color: #fff;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #007a89

}

.card{
    width: 400px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%)
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;

}

.card .contenido p{
    line-height: 1.5;
    
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #007a89;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #007a89;
    color: #fff;

}
























@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    
}

@media screen and (max-width: 1237px){
    #imagenHero{
        display: none;
    }
}
@media screen and (max-width: 1548px) {
    #imagenHero{
        width: 600px;
        height: 550px;
    }
    
}



























@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

